<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head :: head ('pizze')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizze</title>
</head>

<body>
    <main class="container">
        <section class="title row">
            <div class="col-12 text-center mt-3">
                <h1>Selected pizza:</h1>
                <br>
            </div>
        </section>

        <div class="pizza row justify-content-center">
            <article class="col-8 card">
                <div class="card-body mx-2">
                    <h1 class="card-title text-center" th:text="${Pizza.name}"></h1>

                    <div class="text-center">
                        <img th:src="*{Pizza.imgUrl}" class="card-img-top w-50" alt="Single pizza image">
                    </div>

                    <h3 class="card-text mt-2 d-flex justify-content-center" th:text="${Pizza.description}"></h3>

                    <h5 class="d-flex justify-content-center">Prezzo: 
                        <span class="card-text" th:text="${Pizza.price} + '0€'"></span>
                    </h5>

                    <h6 class="card-footer d-flex justify-content-center">Id numero:
                        <span th:text="${Pizza.id}"></span>
                    </h6>

                    <div class="mb-3 mt-3 d-flex justify-content-between">
                        <a th:href="@{|/pizze/offers/${Pizza.id}|}" class="btn btn-outline-danger btn-sm d-flex justify-content-center pt-2">Create a new special offer</a>
                        <a th:href="@{/pizze}" class="btn btn-outline-primary btn-sm d-flex justify-content-center mb-2">Go back</a>
                    </div>
                </div>
            </article>
        </div>
    </main>


</body>

</html>